# Ex00 Load and save

In [18]:
import pandas as pd

## read_csv

In [19]:
data = pd.read_csv('data/feed-views.log', 
                   sep = '\t', skiprows=[2,3], 
                   skipfooter=2, 
                   names = ['datetime', 'user'], 
                   index_col = 'datetime')

/tmp/ipykernel_30785/728247926.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  data = pd.read_csv('data/feed-views.log',

In [26]:
data.count()

user    1072
dtype: int64

In [20]:
data.head()

                              user
datetime
2020-04-17 12:01:08.463179   artem
2020-04-17 12:01:23.743946   artem
2020-04-17 12:35:52.735016   artem
2020-04-17 12:36:21.401412  oksana
2020-04-17 12:36:22.023355  oksana

In [21]:
data.tail()

                                 user
datetime
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

## rename datetime to date_time

In [22]:
data.index.rename('date_time',inplace = True)

In [23]:
data

                                 user
date_time
2020-04-17 12:01:08.463179      artem
2020-04-17 12:01:23.743946      artem
2020-04-17 12:35:52.735016      artem
2020-04-17 12:36:21.401412     oksana
2020-04-17 12:36:22.023355     oksana
...                               ...
2020-05-21 16:36:40.915488  ekaterina
2020-05-21 17:49:36.429237      maxim
2020-05-21 18:45:20.441142  valentina
2020-05-21 23:03:06.457819      maxim
2020-05-21 23:23:49.995349      pavel

[1072 rows x 1 columns]

## save to csv

In [24]:
data.to_csv('data/feed-views-semicolon.log', sep = ';')

In [25]:
df2 = pd.read_csv("data/feed-views-semicolon.log", sep=';')
df2.head()

                    date_time    user
0  2020-04-17 12:01:08.463179   artem
1  2020-04-17 12:01:23.743946   artem
2  2020-04-17 12:35:52.735016   artem
3  2020-04-17 12:36:21.401412  oksana
4  2020-04-17 12:36:22.023355  oksana